.footer-body{
  background-color: #ece8cd;
  padding-top: 20px;
  padding-right: 5px;
  padding-bottom: 30px;
  margin-bottom: auto;
  font-size: 11px;
}
.social-media{
  padding-right: 5px;
  color: inherit;
}
a:hover{
  text-decoration: none;
}